.main-header {
    position: relative;
}

.user-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    padding: 10px 20px;
}

.user-area__actions a {
    text-decoration: none;
}